p {color:palevioletred;
    font-family: sans-serif;
    text-align: center;
    font-size:xx-large;
    font-weight: bold;

}

h1 {color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
text-align: center;

}

body {background-color: blanchedalmond;}