p {
    color: rgb(171, 0, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    text-align:left;
    
    
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2020/02/10/08/56/emoji-4835770_640.png');
    background-size:cover;
    background-repeat: no-repeat;
}



