p { color:black;
    font-family: sans-serif;




}

h1 {
color:black;
font-weight: bold;
font-size: 150;
font-family: monospace;

}

h2 {
color:green;
font-weight: bold;
font-size:xx-large;
font-family: sans-serif;
text-align: center;
}

body {

    background-color:blanchedalmond
}

h3 {
    color:black;
    font-weight: bold;
    font-size:150;
    font-family: sans-serif;
    text-align: center;

}